body{
    background-image: linear-gradient(to left, rgb(219, 2, 2), rgb(71, 1, 1))
}

header{
    background-image: linear-gradient(rgba(255, 218, 6, 0.911), rgb(201, 146, 9));
    border: 10px;
    border-style: double;
    border-color: black;
    height: fit-content;
}

.titulo_header{
    color: rgb(255, 255, 255);
    margin-left: 10%;
    font-family: "Diplomata", serif;
    font-size: 5vw;
    font-variant:small-caps;
    -webkit-text-stroke: 0.1px black;
}

h3{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 30vh;
    font-family: "Diplomata", serif;
    font-size: 2.5vw;
    margin-left: 55vw;
    margin-top: -7.3%;
    -webkit-text-stroke: 0.1px black;
}